.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 20px 30px;
    font-size: 20px;
}

.output {
    min-width: 200px;
    height: 50px;
    background-color: gray;
}